[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dronekit = "*"
pyserial = "*"
paho-mqtt = "*"
keyboard = "*"
matplotlib = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
